/* Footer */

.footer {
  border-top: 1px solid var(--secondary-color);
  padding: 25px 0;
}

.footer__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__copyright {
  font-size: 15px;
  color: var(--main-color);
}
