<div class="modal-successful d-none">
  <div class="modal-successful__content">
    <h3>Спасибо за заявку мы с Вами скоро свяжемся!</h3>
    <button class="btn btn--modal" (click)="modalClose()">Закрыть</button>
  </div>
</div>

<header class="header">
  <div class="container header__wrapper">
    <div class="logo">
      <img src="../assets/images/logo.png" alt="logo">
    </div>
    <div class="menu">
      <ul>
        <li class="menu__item"><a href="#">Главная</a></li>
        <li class="menu__item"><a href="#our-fleet">Автомобили</a></li>
        <li class="menu__item"><a href="#price">Бронирование авто</a></li>
      </ul>
    </div>
  </div>
</header>

<section class="main" [ngStyle]="bgPos">
  <div class="container">
    <div class="main__info">
      <h1 class="main__title">Аренда премиальных автомобилей</h1>
      <div class="main__text">В нашем клубе имеется солидная коллекция спортивных автомобилей — от достаточно
        распространенных серийных машин до настоящего гоночного эксклюзива. Воспользуйтесь уникальной
        возможностью побывать за рулем настоящей легенды и узнать, на что она способна за пределами гоночной
        трассы!
      </div>
      <div class="main__action">
        <button class="btn" id="btnOurFleet" (click)="goScroll(ourFleet)">Посмотреть автомобили</button>
      </div>
    </div>
  </div>
</section>

<section class="our-fleet" id="our-fleet" #ourFleet>
  <div class="container">
    <h2 class="sub-title">Наш автопарк</h2>
    <div class="our-fleet__items">
      <div class="our-fleet__item" *ngFor="let car of carData">
        <div class="our-fleet__item-img">
          <img src="../assets/images/{{ car.image }}" alt="{{ car.title }}">
        </div>
        <div class="our-fleet__item-title">{{ car.title }}</div>
        <div class="our-fleet__item-info">
          <div class="our-fleet__item-point">
            <img src="../assets/images/icons/gear.svg" alt="gear icon">
            <div>Привод</div>
            <div>{{ car.gear }}</div>
          </div>
          <div class="our-fleet__item-point">
            <img src="../assets/images/icons/wheel.svg" alt="wheel icon">
            <div>Двигатель</div>
            <div>{{ car.engine }} л.с.</div>
          </div>
          <div class="our-fleet__item-point">
            <img src="../assets/images/icons/belt.svg" alt="belt icon">
            <div>Кол-во мест</div>
            <div>{{ car.places }}</div>
          </div>
        </div>
        <div class="our-fleet__item-action">
          <button class="our-fleet__item-btn btn" (click)="goScroll(price, car)">Забронировать</button>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="price" id="price" #price>
  <div class="container price__wrapper">
    <div class="price__title sub-title">Узнать цену и забронировать</div>
    <div class="price__text">Заполните данные, и мы перезвоним вам для уточнения всех деталей бронирования</div>
    <form class="price__form" action="" [formGroup]="priceForm">
      <label for="name">
        <input class="price__form-input" id="name" name="name" type="text" placeholder="Ваше имя"
               formControlName="name">
      </label>
      <label for="phone">
        <input class="price__form-input" id="phone" name="phone" type="text" placeholder="Ваш телефон"
               formControlName="phone">
      </label>
      <label for="changeCar">
        <input class="price__form-input" id="changeCar" name="changeCar" type="text"
               placeholder="Автомобиль, который вас интересует" formControlName="car">
      </label>
      <button class="price__btn btn" [ngClass]="{ 'price__btn--disabled': !priceForm.valid }"
              (click)="sendRequestCar()" [disabled]="!priceForm.valid">Узнать цену
      </button>
    </form>
    <img class="price__img" src="../assets/images/rolls.png" alt="image form" [ngStyle]="trans">
  </div>
</section>

<footer class="footer">
  <div class="container footer__wrapper">
    <div class="logo">
      <img src="../assets/images/logo.png" alt="logo">
    </div>
    <div class="footer__copyright">Все права защищены</div>
  </div>
</footer>
